<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Product</title>
</head>
<body class="bg-body-tertiary">
    <nav th:replace="/layout :: menu "></nav>
    <div class="container">
        <div class="my-3 shadow-sm bg-white p-3 d-flex align-items-center justify-content-between">
            <h3 class="mb-0">Danh sách sản phẩm</h3>
            <a th:href="@{/create}" class="btn btn-secondary">
                Thêm sản phẩm
            </a>
        </div>
        <div class="p-3 shadow-sm bg-white mt-3">

            <div class="notify">
                <div th:if="${success}">
                    <div class="alert alert-success" role="alert" th:text="${success}">
                        A simple success alert—check it out!
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>Mô Tả</th>
                    <td>Nhà Sản Xuất</td>
                    <th>Sửa</th>
                    <th>Xóa</th>
                    <th>Xem</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${products}">
                    <td th:text="${row.getName()}"></td>
                    <td th:text="${row.getPrice()}"></td>
                    <td th:text="${row.getDescription()}"></td>
                    <td th:text="${row.getProducer()}"></td>
                    <td><a th:href="@{/{id}/edit(id=${row.getId()})}" class="btn btn-info">Sửa</a></td>
                    <td><a th:href="@{/{id}/delete(id=${row.getId()})}" class="btn btn-danger">Xóa</a></td>
                    <td><a th:href="@{/{id}/view(id=${row.getId()})}" class="btn btn-success">Xem</a></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <footer th:replace="/layout :: footer"></footer>
</body>
</html>