<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>List Product</title>
</head>
<body class="bg-body-tertiary">
<nav th:replace="/layout :: menu "></nav>
<div class="container">
  <div class="my-3 shadow-sm bg-white p-3 d-flex align-items-center justify-content-between">
    <h3 class="mb-0">Chỉnh sửa sản phẩm</h3>
    <a th:href="@{/list}" class="btn btn-secondary">
      Quay lại trang danh sách sản phẩm
    </a>
  </div>
  <div class="p-3 shadow-sm bg-white mt-3">
    <div id="form">
      <form th:action="@{/update}" th:object="${product}"
            method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="mb-3">
              <label for="name" class="form-label">Tên</label>
              <input type="text" id="name" class="form-control" th:field="*{name}"/>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Giá</label>
              <input type="number" id="price" class="form-control" th:field="*{price}"/>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Mô Tả</label>
              <input type="text" id="description" class="form-control" th:field="*{description}"/>
            </div>
            <div class="mb-3">
              <label for="producer" class="form-label">Nhà Sản Xuất</label>
              <input type="text" id="producer" class="form-control" th:field="*{producer}"/>
            </div>
            <div class="text-center">
              <button class="btn btn-primary px-5 btn-lg">Cập Nhật</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>