<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Product</title>
</head>
<body class="bg-body-tertiary">
<nav th:replace="/layout :: menu "></nav>
<div class="container">
    <div class="my-3 shadow-sm bg-white p-3 d-flex align-items-center justify-content-between">
        <h3 class="mb-0">Xem sản phẩm</h3>
        <a th:href="@{/list}" class="btn btn-secondary">
            Quay lại trang danh sách sản phẩm
        </a>
    </div>
    <div class="p-3 shadow-sm bg-white my-3">

        <div>
            <div>
                <p>Tên sản phẩm: <span th:text="${product.getName()}"></span></p>

                <p>Giá sản phẩm: <span th:text="${product.getPrice()}"></span></p>

                <p>Mô tả sản phẩm: <span th:text="${product.getDescription()}"></span></p>

                <p>Nhà sản xuất: <span th:text="${product.getProducer()}"></span></p>

            </div>
        </div>
    </div>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>